<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">ONLINE SHOP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Products Catalog
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" th:href="@{/products/notebooks}">Notebooks</a>
                    <a class="dropdown-item" th:href="@{/products/notebooks}">Smartphones</a>
                </ul>
            </li>
            <li sec:authorize="hasRole('ADMIN')" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarAdminDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Admin
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarAdminDropdownMenuLink">
                    <a class="dropdown-item" th:href="@{/products_manager}">Products Manager</a>
                    <a class="dropdown-item" th:href="@{/users}">Users</a>
                </ul>
            </li>
            <div class="collapse navbar-collapse" sec:authorize="isAnonymous()">
                <li class="nav-item">
                    <a th:text="#{header.btn.signin}" class="nav-link" href="/login">Sign In</a>
                </li>
                <li class="nav-item">
                    <a th:text="#{header.btn.signup}" class="nav-link" href="/register">Sign Up</a>
                </li>
            </div>
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a th:text="#{header.btn.basket}" class="nav-link" href="#">Basket</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <form class="nav-item" th:action="@{/logout}" method="post">
                    <input th:value="#{header.btn.logout}" type="submit" class="btn nav-link" value="Log out">
                </form>
            </li>
        </ul>

    </div>
    <select style="color:rgba(255,255,255,.55)" class="custom-select-dark bg-dark" id="locales">
        <option value="en" th:text="English" th:selected="__${#locale}__=='en'" selected></option>
        <option value="ru" th:text="Русский" th:selected="__${#locale}__=='ru'"></option>
    </select>
</nav>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            window.location.replace('?lang=' + selectedOption);
        });
    });
</script>
</html>